<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <div class="full-screen-container">
        <div class="login-container">
            <h3 class="login-title">Bienvenidxs</h3>


            <form action="login.html" method="POST">
                <div class="input-group">
                    <label for="name">Email</label>
                    <input type="text" name="Email" id="name" placeholder="Email" required>
                </div>
                <div class="input-group"></div>
                    <label for="password">Contrasena</label>
                    <input type="password" name="password" id="password" placeholder="Constraseña" required>
                </div>
            </div>
    <button type="submit"
    class="login-button">Iniciar sesion</button>
    <button type="reset"
    class="borrar">Borrar</button>
  </form>
</body>