<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <form action="register.html" method="POST">
    <div>
        <label for="name">Nombre y apellido</label>
        <input type="text" name="name" id="name" placeholder="Nombre y apellido" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div>
        <label for="password">Contrasena</label>
        <input type="password" name="password" id="password" placeholder="Constrasena" required>
    </div>

    <div>
    <button type="submit">Enviar</button>
    <button type="reset">Borrar</button>   
  </form>
</body>