*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

body{
    background-color:#ebebeb;
    font-family: 'Roboto';
}

/*header*/

header{
    background-color: #EAC926;
}

.logo-sitio{
    width: 50%;
}

.search-input{
    width: 500px;
    padding: 10px;
    border: 1px solid #CCC;
}

.txt-compra{
    max-width: 350px;
    /*transition: 1s all;*/

}
.txt-compra i {
    color: #1259c3;
}

/*nav-bar*/

.left-links, .right-links{
    font-size: 12px;
    list-style: none;
    text-decoration: none;
}

.left-links li a, .right-links li a{
    color : #222222;
 }

.burger-menu{
    text-align: center;  
}
.burger-menu i {
    
    height: auto;
    padding: 10px;
    background-color: #1259c3;
    border-radius: 10px;
    text-align: center;
    color: white;
    box-sizing: border-box;
}

.banner-pub{
    margin-top: 2px;
    box-sizing: border-box;
}

.banner-pub img{
    width: 100%;
}

/*main section-productos*/

main{
    width: 80%;
    margin: 0 auto;
}


section{ /*revisar*/
    margin-top: 10px;
}

.productos-visita{
    margin-top: 10px;
    margin-bottom: 20px;
}

.titles{
    font-size: 24px;
    color: #302c2b;
}

.articles{
    margin-top: 10px;
    background-color:#ebebeb;
    box-sizing: border-box;
    border-radius: 10px;
}

.articles:hover #name-tag{
    display: block;
   
}
.articles:hover {
    
    box-shadow: #222222 0px 0px 20px;
    transform: scale(1.02);
  
}

.articles:hover .truck-icon{ /*revisar*/
    transform: scale(1)


}
.articles:hover .truck-icon i{ 
   color: #1259c3;
   border-radius: 50%;
   border: 1px solid #1259c3;


}
.articles:hover .descuentos{
    color: #1259c3;
}

.article-box{
    border-top: 1px solid #ebebeb;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    transition: 2s all;
    background-color: #fff;
}

.product-img{
    width: 100%;
}

.truck-icon{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: -20px;
    left: 25%;
    transition: 1s all;
   
   
}
.truck-icon i{
    color: green;
    font-size: 16px;
    padding: 9px;
    padding-top: 13px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #39b54a;
    background-color: #FFF;
    box-sizing: border-box;
}

.product-detail{
    display: flex;
}

.product-detail .precios{
    flex-grow: 0.3;
}

.product-detail .descuentos{
    flex-grow: 0.7;
}

.precios{
    font-size: 18px;
}

.descuentos{
    color: #39b54a;
}

#name-tag{
    display: none;
   
}

p{
    font-size: 12px;
}

.precios{
    font-size: 18px;
}

.descuentos{
    font-size: 16px;
}

/*body*/

.productos-visita{
    margin-top: 10px;
    margin-bottom: 20px;    
}


/* footer*/

.footer-main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    height: auto;
    padding-top: 20px;
    color: #111;
    /*border-top: 20px solid #ebebeb;*/
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
    text-align: center;
    margin: 10px auto;
}

.footer-content h4{
    font-weight: 500;
}

.footer-content p{
    font-weight: 500;
    margin: 10px auto;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;

}

.footer-content i{
    color: #1259c3; 
    position: relative;
    align-items: center;
    bottom: 20px;
    left: 10%;
}

.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

/*login*/



.login-form{
    margin-top: 10px;
}
.container-form-login{
    width: 50%;
    margin: 0 auto;
    background-color: #ebebeb;
}
.container-form-login div{
    margin-top: 20px;   
}
.container-form-login  div .input-login{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}

.login-btn{
    display: flex;
    justify-content: center;
}
.send-btn{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background-color: #1259c3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 1s all;

    
}
.send-btn:hover{
    background-color: #2254FF;
}

.delete-btn{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    background-color: #1259c3;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    transition: 1s all;

    
}
.delete-btn:hover{
    background-color: #2254FF;
}

/*register*/

.container-form-register{
    background-color: #ebebeb;
    padding: 28px;
    width: 50%;
    margin: 0 auto;
    border-radius: 20px;
}
.container-form-register div{
    margin-top: 20px;   
}
.container-form-register  div .input-register{
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ebebeb;
}



@media (min-width: 376px) {

    .left-links, .right-links{
        display: block;
    }

    .burger-menu{
        display: none;  
    }

    .articles{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        transition: 2s all;
    }


}

@media (min-width: 780px){
    .logo-sitio{
        width:  10%;
    }

     .right-links, .left-links{
        display: block;
    }

    .top-nav-links{
        display : flex;
        align-items: center;
        justify-content: space-between;
    }
    .top-nav-links ul li{
        margin: 0 15px;
    }

    .section-visita > .articles,.section-ofertas > .articles{
        flex: 40%;
    }
    .section-visita,.section-ofertas{
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    
    }

    .section-visita > .articles,.section-ofertas > .articles{
        flex: 40%;
    }
}



@media (min-width: 1100px){

    footer{
        display: flex;
        flex-direction: row;
        align-items: center;
        border-top: 1px solid #ebebeb;
        margin-top: 20px;
    }

    .visita,.ofertas{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }

    .section-visita > .articles,.section-ofertas > .articles{
        flex: 1 0 21%;
    }
    .section-visita,.section-ofertas{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

    }
}